# Subway Data Analysis

## Introduction

O sistema de ônibus e trens de Nova Iorque - o Metro Transit Authority - [fornece seus dados para download](http://web.mta.info/developers/developer-data-terms.html#data) através de  arquivos CSV. Dentre as informações disponíveis estão os **registros semanais de dados das catracas do metrô**. 


Estes registros contém contagens cumulativas das entradas e saídas, normalmente agrupadas em períodos de 4 horas, com dados adicionais que permitem identificar a estação e catraca específica correspondente a cada linha do arquivo. Neste projeto iremos utilizar um desses registros, mas não precisa baixar nada agora! O primeiro exercício será escrever um código Python para fazer isso por você :-)

# Sobre este projeto

Neste projeto você irá aplicar todos os conhecimentos adquiridos neste primeiro mês de curso, com tarefas básicas de aquisição e limpeza de dados. No processo iremos descobrir informações essenciais sobre os dados, utilizando o que foi aprendido no curso de estatística. 

O objetivo deste projeto é explorar a relação entre os dados das catracas do metrô de Nova Iorque e o clima no dia da coleta. Para isso, além dos dados do metrô, precisaremos dos dados de clima da cidade de Nova Iorque. 

Os principais pontos que serão verificados neste trabalho:

- Coleta de dados da internet
- Utilização de estatística para análise de dados
- Manipulação de dados e criação de gráficos simples com o `Pandas`

*Como conseguir ajuda*: Sugerimos que busque apoio nos canais abaixo, na seguinte ordem de prioridade:

| Tipo de dúvida\Canais         	| Google 	| Fórum 	| Slack 	| Email 	|
|-------------------------------	|--------	|-------	|-------	|-------	|
| Programação Python e Pandas    	| 1      	| 2     	| 3     	|       	|
| Requisitos do projeto         	|        	| 1     	| 2     	| 3     	|
| Partes específicas do Projeto 	|        	| 1     	| 2     	| 3     	|

Os endereços dos canais são:

- Fórum: https://discussions.udacity.com/c/ndfdsi-project
- Slack: [udacity-br.slack.com](https://udacity-br.slack.com/messages/C5MT6E3E1)
- Email: data-suporte@udacity.com

**Espera-se que o estudante entregue este relatório com:**

- Todos os exercícios feitos, com atenção especial para os trechos de código a completar (sinalizados com `# your code here`), pois eles são essenciais para que o código rode corretamente
- O arquivo ipynb exportado como HTML

Para entregar este projeto envie este `.ipynb` preenchido e o HTML, zipados, na página correspondente da sala de aula.

# Sobre o dataset

Descrição das colunas
<pre>
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
  
C/A      = Agrupamento de catracas de que a catraca faz parte (_Control Area_)
UNIT     = Cabine de controle associada à estação onde a catraca se encontra (_Remote Unit for a station_)
SCP      = Endereço específico da catraca (_Subunit Channel Position_)
STATION  = Nome da estação onde a catraca se encontra
LINENAME = Código representando todas linhas que passam na estação*
DIVISION = Código representando a concessionária original da linha, antes da prefeitura assumir a gestão   
DATE     = Representa a data (no formato MM-DD-YY) do evento de auditoria agendado
TIME     = Representa o horário (hh:mm:ss) do evento de auditoria agendado
DESc     = Descreve o tipo de evento de auditoria registrado:
           1. "REGULAR" representando um evento de auditoria padrão, em que a contagem é feita a cada 4 horas
           2. "RECOVR AUD" significa que o valor específico estava perdido, mas foi recuperado posteriormente 
           3. Diversos códigos sinalizam situações em que auditorias são mais frequentes devido a atividades de
              planejamento ou solução de problemas. 
ENTRIES  = A contagem cumulativa de entradas associadas à catraca desde o último registro
EXITS    = A contagem cumulativa de saídas associadas à catraca desde o último registro

*  Normalmente as linhas são representadas por um caractere. LINENAME 456NQR significa que os trens 4, 5, 6, N, Q e R passam pela estação.
</pre>

# Lembretes

Antes de começarmos, alguns lembretes devem ter em mente ao usar os notebooks iPython:

- Lembre-se de que você pode ver do lado esquerdo de uma célula de código quando foi executado pela última vez se houver um número dentro das chaves.
- Quando você inicia uma nova sessão do notebook, certifique-se de executar todas as células até o ponto em que você deixou a última vez. Mesmo que a saída ainda seja visível a partir de quando você executou as células em sua sessão anterior, o kernel começa em um estado novo, então você precisará recarregar os dados, etc. em uma nova sessão.
- O ponto anterior é útil para ter em mente se suas respostas não correspondem ao que é esperado nos questionários da aula. Tente recarregar os dados e execute todas as etapas de processamento um a um para garantir que você esteja trabalhando com as mesmas variáveis e dados que estão em cada fase do questionário.

## Seção 1 - Coleta de Dados

### *Exercicio 1.1*

Mãos a obra!! Agora é sua vez de coletar os dados. Escreva abaixo um código python que acesse o link http://web.mta.info/developers/turnstile.html e baixe os arquivos do mês de junho de 2017. O arquivo deverá ser salvo com o nome turnstile_170610.txt onde 10/06/17 é a data do arquivo.

<blockquote>
    <p>Caso o site esteja fora do ar, use essa url:</p>
    <p>https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html</p>
</blockquote>

Abaixo seguem alguns comandos que poderão te ajudar:

Utilize a biblioteca **urllib** para abrir e resgatar uma página da web. Utilize o comando abaixo onde **url** será o caminho da página da web onde se encontra o arquivo:

```python
u = urllib.urlopen(url)
html = u.read()
```

Utilize a biblioteca **BeautifulSoup** para procurar na página pelo link do arquivo que deseja baixar. Utilize o comando abaixo para criar o seu objeto *soup* e procurar por todas as tags 'a'no documento:
 
 
```python
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')
```

Uma dica para baixar apenas os arquivos do mês de junho é verificar a data no nome do arquivo. Por exemplo, para baixar o arquivo do dia 17/06/2017 verifique se o link termina com *"turnstile_170610.txt"*. Se não fizer isso você baixará todos os arquivos da página. Para fazer isso utilize o comando conforme abaixo:

```python
if '1706' in link.get('href'):
```

E a dica final é utilizar o comando abaixo para fazer o download do arquivo txt:

```python
urllib.urlretrieve(link_do_arquivo, filename)
```

Lembre-se, primeiro, carregue todos os pacotes e funções que você estará usando em sua análise.

In [13]:
from urllib.request import urlopen, urlretrieve
from bs4 import BeautifulSoup

# Define fonte dos dados
url = 'https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html'
u = urlopen(url)
html = u.read()

# Parser da URL
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')

# Procura pelo link definido pela data
print ("Iniciando busca de arquivos")

for a in soup.find_all('a', href=True):
    if '1706' in a['href']:
        urlretrieve(a['href'], a['href'].split('/')[-1])
        print("Baixado:", a['href'].split('/')[-1])
        
print("Concluído")

Iniciando busca de arquivos
Baixado: turnstile-170624.txt
Baixado: turnstile-170617.txt
Baixado: turnstile-170610.txt
Baixado: turnstile-170603.txt
Concluído

### *Exercicio 1.2*

Escreva uma função que pegue a lista de nomes dos arquivos que você baixou no exercicio 1.1 e consolide-os em um único arquivo. Deve existir apenas uma linha de cabeçalho no arquivo de saida. 

Por exemplo, se o arquivo_1 tiver:
linha 1...
linha 2...

e o outro arquivo, arquivo_2 tiver:
linha 3...
linha 4...
linha 5...

Devemos combinar o arquivo_1 com arquivo_2 em um arquivo mestre conforme abaixo:

'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
linha 1...
linha 2...
linha 3...
linha 4...
linha 5...

**OBS:** Note que algumas colunas foram descartadas!

In [14]:
def create_master_turnstile_file(filenames, output_file):
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,STATION, LINENAME, DIVISION, DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            with open(filename) as archive:
                for line in archive:
                    master_file.write(line)

# Cria lista dos arquivos
files = ["turnstile-170603.txt", "turnstile-170610.txt", "turnstile-170617.txt", "turnstile-170624.txt"]

# Cria arquivo resultante
create_master_turnstile_file(files, "turnstile-1706.txt")
print("Criado arquivo único: turnstile-1706.txt")

Criado arquivo único: turnstile-1706.txt

### *Exercicio 1.3*

Neste exercício, escreva um função que leia o master_file criado no exercicio anterior e carregue-o em um pandas dataframe. Esta função deve filtrar para que o dataframe possua apenas linhas onde a coluna "DESCn" possua o valor "Regular".

Por exemplo, se o data frame do pandas estiver conforme abaixo:
    
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231

O dataframe deverá ficar conforme abaixo depois de filtrar apenas as linhas onde a coluna DESCn possua o valor REGULAR:

    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177

In [15]:
import pandas as pd

def filter_by_regular(filename):
    # Carrega dataframe
    turnstile_data = pd.read_csv(filename)
    
    # Seleciona apenas dataframe com DESCn = REGULAR
    turnstile_data = turnstile_data[turnstile_data.DESCn=='REGULAR']
    
    return turnstile_data

df = filter_by_regular('turnstile-1706.txt')

/home/rodrigo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [16]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,00:00:00,REGULAR,0006195217,0002098317 ...
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,0006195240,0002098318 ...
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,08:00:00,REGULAR,0006195256,0002098347 ...
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,12:00:00,REGULAR,0006195346,0002098432 ...
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,16:00:00,REGULAR,0006195518,0002098491 ...

In [17]:
# Drop das colunas a mais do conjunto de dados
df = df.drop(df.columns[3:6], axis=1)
df.head()

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
1,A002,R051,02-00-00,05/27/2017,00:00:00,REGULAR,0006195217,0002098317 ...
2,A002,R051,02-00-00,05/27/2017,04:00:00,REGULAR,0006195240,0002098318 ...
3,A002,R051,02-00-00,05/27/2017,08:00:00,REGULAR,0006195256,0002098347 ...
4,A002,R051,02-00-00,05/27/2017,12:00:00,REGULAR,0006195346,0002098432 ...
5,A002,R051,02-00-00,05/27/2017,16:00:00,REGULAR,0006195518,0002098491 ...

### *Exercicio 1.4*


Os dados do metrô de NY possui dados cumulativos de entradas e saidas por linha. Assuma que você possui um dataframe chamado df que contém apenas linhas para uma catraca em particular (unico SCP, C/A, e UNIT). A função abaixo deve alterar essas entradas cumulativas para a contagem de entradas desde a última leitura (entradas desde a última linha do dataframe).

Mais especificamente, você deverá fazer duas coisas:

1. Criar uma nova coluna chamada ENTRIESn_hourly

2. Inserir nessa coluna a diferença entre ENTRIESn da linha atual e a da linha anterior. Se a linha possuir alguma NAN, preencha/substitua por 1.

Dica: as funções do pandas shift() e fillna() pode ser úteis nesse exercicio.

Abaixo tem um exemplo de como seu dataframe deve ficar ao final desse exercicio:

           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243

In [18]:
def get_hourly_entries(df):
    
    diff = pd.to_numeric(df['ENTRIESn']) - pd.to_numeric(df['ENTRIESn'].shift(1))
    df['ENTRIESn_hourly'] = diff.fillna(1).astype(int)
    
    return df

get_hourly_entries(df)

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly
1,A002,R051,02-00-00,05/27/2017,00:00:00,REGULAR,0006195217,0002098317 ...,1
2,A002,R051,02-00-00,05/27/2017,04:00:00,REGULAR,0006195240,0002098318 ...,23
3,A002,R051,02-00-00,05/27/2017,08:00:00,REGULAR,0006195256,0002098347 ...,16
4,A002,R051,02-00-00,05/27/2017,12:00:00,REGULAR,0006195346,0002098432 ...,90
5,A002,R051,02-00-00,05/27/2017,16:00:00,REGULAR,0006195518,0002098491 ...,172
6,A002,R051,02-00-00,05/27/2017,20:00:00,REGULAR,0006195765,0002098537 ...,247
7,A002,R051,02-00-00,05/28/2017,00:00:00,REGULAR,0006195898,0002098559 ...,133
8,A002,R051,02-00-00,05/28/2017,04:00:00,REGULAR,0006195914,0002098562 ...,16
9,A002,R051,02-00-00,05/28/2017,08:00:00,REGULAR,0006195930,0002098581 ...,16
10,A002,R051,02-00-00,05/28/2017,12:00:00,REGULAR,0006196024,0002098646 ...,94
11,A002,R051,02-00-00,05/28/2017,16:00:00,REGULAR,0006196186,0002098685 ...,162
12,A002,R051,02-00-00,05/28/2017,20:00:00,REGULAR,0006196446,0002098723 ...,260
13,A002,R051,02-00-00,05/29/2017,00:00:00,REGULAR,0006196569,0002098745 ...,123
14,A002,R051,02-00-00,05/29/2017,04:00:00,REGULAR,0006196587,0002098747 ...,18
15,A002,R051,02-00-00,05/29/2017,08:00:00,REGULAR,0006196597,0002098766 ...,10
16,A002,R051,02-00-00,05/29/2017,12:00:00,REGULAR,0006196666,0002098845 ...,69
17,A002,R051,02-00-00,05/29/2017,16:00:00,REGULAR,0006196853,0002098891 ...,187
18,A002,R051,02-00-00,05/29/2017,20:00:00,REGULAR,0006197107,0002098922 ...,254
19,A002,R051,02-00-00,05/30/2017,00:00:00,REGULAR,0006197230,0002098946 ...,123
20,A002,R051,02-00-00,05/30/2017,04:00:00,REGULAR,0006197238,0002098949 ...,8
21,A002,R051,02-00-00,05/30/2017,08:00:00,REGULAR,0006197288,0002099066 ...,50
22,A002,R051,02-00-00,05/30/2017,12:00:00,REGULAR,0006197470,0002099345 ...,182
23,A002,R051,02-00-00,05/30/2017,16:00:00,REGULAR,0006197790,0002099442 ...,320
24,A002,R051,02-00-00,05/30/2017,20:00:00,REGULAR,0006198624,0002099521 ...,834
25,A002,R051,02-00-00,05/31/2017,00:00:00,REGULAR,0006198819,0002099552 ...,195
26,A002,R051,02-00-00,05/31/2017,04:00:00,REGULAR,0006198834,0002099555 ...,15
27,A002,R051,02-00-00,05/31/2017,08:00:00,REGULAR,0006198880,0002099671 ...,46
28,A002,R051,02-00-00,05/31/2017,12:00:00,REGULAR,0006199053,0002099950 ...,173
29,A002,R051,02-00-00,05/31/2017,16:00:00,REGULAR,0006199379,0002100021 ...,326
30,A002,R051,02-00-00,05/31/2017,20:00:00,REGULAR,0006200200,0002100072 ...,821
...,...,...,...,...,...,...,...,...,...
788188,TRAM2,R469,00-05-01,06/19/2017,01:00:00,REGULAR,5554,301,0
788189,TRAM2,R469,00-05-01,06/19/2017,05:00:00,REGULAR,5554,301,0
788190,TRAM2,R469,00-05-01,06/19/2017,09:00:00,REGULAR,5554,301,0
788191,TRAM2,R469,00-05-01,06/19/2017,13:00:00,REGULAR,5554,301,0
788192,TRAM2,R469,00-05-01,06/19/2017,17:00:00,REGULAR,5554,301,0
788193,TRAM2,R469,00-05-01,06/19/2017,21:00:00,REGULAR,5554,301,0
788194,TRAM2,R469,00-05-01,06/20/2017,01:00:00,REGULAR,5554,301,0
788195,TRAM2,R469,00-05-01,06/20/2017,05:00:00,REGULAR,5554,301,0
788196,TRAM2,R469,00-05-01,06/20/2017,09:00:00,REGULAR,5554,301,0
788197,TRAM2,R469,00-05-01,06/20/2017,13:00:00,REGULAR,5554,301,0
788198,TRAM2,R469,00-05-01,06/20/2017,17:00:00,REGULAR,5554,301,0
788199,TRAM2,R469,00-05-01,06/20/2017,21:00:00,REGULAR,5554,301,0
788200,TRAM2,R469,00-05-01,06/21/2017,01:00:00,REGULAR,5554,301,0
788201,TRAM2,R469,00-05-01,06/21/2017,05:00:00,REGULAR,5554,301,0
788202,TRAM2,R469,00-05-01,06/21/2017,09:00:00,REGULAR,5554,301,0
788203,TRAM2,R469,00-05-01,06/21/2017,13:00:00,REGULAR,5554,301,0
788204,TRAM2,R469,00-05-01,06/21/2017,17:00:00,REGULAR,5554,301,0
788205,TRAM2,R469,00-05-01,06/21/2017,21:00:00,REGULAR,5554,301,0
788206,TRAM2,R469,00-05-01,06/22/2017,01:00:00,REGULAR,5554,301,0
788207,TRAM2,R469,00-05-01,06/22/2017,05:00:00,REGULAR,5554,301,0
788208,TRAM2,R469,00-05-01,06/22/2017,09:00:00,REGULAR,5554,301,0
788209,TRAM2,R469,00-05-01,06/22/2017,13:00:00,REGULAR,5554,301,0
788210,TRAM2,R469,00-05-01,06/22/2017,17:00:00,REGULAR,5554,301,0
788211,TRAM2,R469,00-05-01,06/22/2017,21:00:00,REGULAR,5554,301,0
788212,TRAM2,R469,00-05-01,06/23/2017,01:00:00,REGULAR,5554,301,0
788213,TRAM2,R469,00-05-01,06/23/2017,05:00:00,REGULAR,5554,301,0
788214,TRAM2,R469,00-05-01,06/23/2017,09:00:00,REGULAR,5554,301,0
788215,TRAM2,R469,00-05-01,06/23/2017,13:00:00,REGULAR,5554,301,0
788216,TRAM2,R469,00-05-01,06/23/2017,17:00:00,REGULAR,5554,301,0
788217,TRAM2,R469,00-05-01,06/23/2017,21:00:00,REGULAR,5554,301,0

### *Exercicio 1.5*

Faça o mesmo do exercicio anterior mas agora considerando as saidas, coluna EXITSn.
Para isso crie uma coluna chamada de EXITSn_hourly e insira a diferença entre a coluna EXITSn da linha atual versus a linha anterior. Se tiver algum NaN, preencha/substitua por 0.

In [20]:
def get_hourly_exits(df):
    
    diff = pd.to_numeric(df['EXITSn']) - pd.to_numeric(df['EXITSn'].shift(1))
    df['EXITSn_hourly'] = diff.fillna(0).astype(int)
    
    return df

get_hourly_exits(df)

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly
1,A002,R051,02-00-00,05/27/2017,00:00:00,REGULAR,0006195217,0002098317 ...,1,0
2,A002,R051,02-00-00,05/27/2017,04:00:00,REGULAR,0006195240,0002098318 ...,23,1
3,A002,R051,02-00-00,05/27/2017,08:00:00,REGULAR,0006195256,0002098347 ...,16,29
4,A002,R051,02-00-00,05/27/2017,12:00:00,REGULAR,0006195346,0002098432 ...,90,85
5,A002,R051,02-00-00,05/27/2017,16:00:00,REGULAR,0006195518,0002098491 ...,172,59
6,A002,R051,02-00-00,05/27/2017,20:00:00,REGULAR,0006195765,0002098537 ...,247,46
7,A002,R051,02-00-00,05/28/2017,00:00:00,REGULAR,0006195898,0002098559 ...,133,22
8,A002,R051,02-00-00,05/28/2017,04:00:00,REGULAR,0006195914,0002098562 ...,16,3
9,A002,R051,02-00-00,05/28/2017,08:00:00,REGULAR,0006195930,0002098581 ...,16,19
10,A002,R051,02-00-00,05/28/2017,12:00:00,REGULAR,0006196024,0002098646 ...,94,65
11,A002,R051,02-00-00,05/28/2017,16:00:00,REGULAR,0006196186,0002098685 ...,162,39
12,A002,R051,02-00-00,05/28/2017,20:00:00,REGULAR,0006196446,0002098723 ...,260,38
13,A002,R051,02-00-00,05/29/2017,00:00:00,REGULAR,0006196569,0002098745 ...,123,22
14,A002,R051,02-00-00,05/29/2017,04:00:00,REGULAR,0006196587,0002098747 ...,18,2
15,A002,R051,02-00-00,05/29/2017,08:00:00,REGULAR,0006196597,0002098766 ...,10,19
16,A002,R051,02-00-00,05/29/2017,12:00:00,REGULAR,0006196666,0002098845 ...,69,79
17,A002,R051,02-00-00,05/29/2017,16:00:00,REGULAR,0006196853,0002098891 ...,187,46
18,A002,R051,02-00-00,05/29/2017,20:00:00,REGULAR,0006197107,0002098922 ...,254,31
19,A002,R051,02-00-00,05/30/2017,00:00:00,REGULAR,0006197230,0002098946 ...,123,24
20,A002,R051,02-00-00,05/30/2017,04:00:00,REGULAR,0006197238,0002098949 ...,8,3
21,A002,R051,02-00-00,05/30/2017,08:00:00,REGULAR,0006197288,0002099066 ...,50,117
22,A002,R051,02-00-00,05/30/2017,12:00:00,REGULAR,0006197470,0002099345 ...,182,279
23,A002,R051,02-00-00,05/30/2017,16:00:00,REGULAR,0006197790,0002099442 ...,320,97
24,A002,R051,02-00-00,05/30/2017,20:00:00,REGULAR,0006198624,0002099521 ...,834,79
25,A002,R051,02-00-00,05/31/2017,00:00:00,REGULAR,0006198819,0002099552 ...,195,31
26,A002,R051,02-00-00,05/31/2017,04:00:00,REGULAR,0006198834,0002099555 ...,15,3
27,A002,R051,02-00-00,05/31/2017,08:00:00,REGULAR,0006198880,0002099671 ...,46,116
28,A002,R051,02-00-00,05/31/2017,12:00:00,REGULAR,0006199053,0002099950 ...,173,279
29,A002,R051,02-00-00,05/31/2017,16:00:00,REGULAR,0006199379,0002100021 ...,326,71
30,A002,R051,02-00-00,05/31/2017,20:00:00,REGULAR,0006200200,0002100072 ...,821,51
...,...,...,...,...,...,...,...,...,...,...
788188,TRAM2,R469,00-05-01,06/19/2017,01:00:00,REGULAR,5554,301,0,0
788189,TRAM2,R469,00-05-01,06/19/2017,05:00:00,REGULAR,5554,301,0,0
788190,TRAM2,R469,00-05-01,06/19/2017,09:00:00,REGULAR,5554,301,0,0
788191,TRAM2,R469,00-05-01,06/19/2017,13:00:00,REGULAR,5554,301,0,0
788192,TRAM2,R469,00-05-01,06/19/2017,17:00:00,REGULAR,5554,301,0,0
788193,TRAM2,R469,00-05-01,06/19/2017,21:00:00,REGULAR,5554,301,0,0
788194,TRAM2,R469,00-05-01,06/20/2017,01:00:00,REGULAR,5554,301,0,0
788195,TRAM2,R469,00-05-01,06/20/2017,05:00:00,REGULAR,5554,301,0,0
788196,TRAM2,R469,00-05-01,06/20/2017,09:00:00,REGULAR,5554,301,0,0
788197,TRAM2,R469,00-05-01,06/20/2017,13:00:00,REGULAR,5554,301,0,0
788198,TRAM2,R469,00-05-01,06/20/2017,17:00:00,REGULAR,5554,301,0,0
788199,TRAM2,R469,00-05-01,06/20/2017,21:00:00,REGULAR,5554,301,0,0
788200,TRAM2,R469,00-05-01,06/21/2017,01:00:00,REGULAR,5554,301,0,0
788201,TRAM2,R469,00-05-01,06/21/2017,05:00:00,REGULAR,5554,301,0,0
788202,TRAM2,R469,00-05-01,06/21/2017,09:00:00,REGULAR,5554,301,0,0
788203,TRAM2,R469,00-05-01,06/21/2017,13:00:00,REGULAR,5554,301,0,0
788204,TRAM2,R469,00-05-01,06/21/2017,17:00:00,REGULAR,5554,301,0,0
788205,TRAM2,R469,00-05-01,06/21/2017,21:00:00,REGULAR,5554,301,0,0
788206,TRAM2,R469,00-05-01,06/22/2017,01:00:00,REGULAR,5554,301,0,0
788207,TRAM2,R469,00-05-01,06/22/2017,05:00:00,REGULAR,5554,301,0,0
788208,TRAM2,R469,00-05-01,06/22/2017,09:00:00,REGULAR,5554,301,0,0
788209,TRAM2,R469,00-05-01,06/22/2017,13:00:00,REGULAR,5554,301,0,0
788210,TRAM2,R469,00-05-01,06/22/2017,17:00:00,REGULAR,5554,301,0,0
788211,TRAM2,R469,00-05-01,06/22/2017,21:00:00,REGULAR,5554,301,0,0
788212,TRAM2,R469,00-05-01,06/23/2017,01:00:00,REGULAR,5554,301,0,0
788213,TRAM2,R469,00-05-01,06/23/2017,05:00:00,REGULAR,5554,301,0,0
788214,TRAM2,R469,00-05-01,06/23/2017,09:00:00,REGULAR,5554,301,0,0
788215,TRAM2,R469,00-05-01,06/23/2017,13:00:00,REGULAR,5554,301,0,0
788216,TRAM2,R469,00-05-01,06/23/2017,17:00:00,REGULAR,5554,301,0,0
788217,TRAM2,R469,00-05-01,06/23/2017,21:00:00,REGULAR,5554,301,0,0

### *Exercicio 1.6*

Dado uma variável de entrada que representa o tempo no formato de:
     "00:00:00" (hora: minutos: segundos)
    
Escreva uma função para extrair a parte da hora do tempo variável de entrada
E devolva-o como um número inteiro. Por exemplo:
         
         1) se a hora for 00, seu código deve retornar 0
         2) se a hora for 01, seu código deve retornar 1
         3) se a hora for 21, seu código deve retornar 21
        
Por favor, devolva a hora como um número inteiro.

In [25]:
def time_to_hour(time):
        
    df['TIMEn'] = df['TIMEn'].map(lambda x: int(x.split(':')[0]))
    return df

time_to_hour(df)

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,hour,HOURn
1,A002,R051,02-00-00,05/27/2017,0,REGULAR,0006195217,0002098317 ...,1,0,0,0
2,A002,R051,02-00-00,05/27/2017,4,REGULAR,0006195240,0002098318 ...,23,1,4,4
3,A002,R051,02-00-00,05/27/2017,8,REGULAR,0006195256,0002098347 ...,16,29,8,8
4,A002,R051,02-00-00,05/27/2017,12,REGULAR,0006195346,0002098432 ...,90,85,12,12
5,A002,R051,02-00-00,05/27/2017,16,REGULAR,0006195518,0002098491 ...,172,59,16,16
6,A002,R051,02-00-00,05/27/2017,20,REGULAR,0006195765,0002098537 ...,247,46,20,20
7,A002,R051,02-00-00,05/28/2017,0,REGULAR,0006195898,0002098559 ...,133,22,0,0
8,A002,R051,02-00-00,05/28/2017,4,REGULAR,0006195914,0002098562 ...,16,3,4,4
9,A002,R051,02-00-00,05/28/2017,8,REGULAR,0006195930,0002098581 ...,16,19,8,8
10,A002,R051,02-00-00,05/28/2017,12,REGULAR,0006196024,0002098646 ...,94,65,12,12
11,A002,R051,02-00-00,05/28/2017,16,REGULAR,0006196186,0002098685 ...,162,39,16,16
12,A002,R051,02-00-00,05/28/2017,20,REGULAR,0006196446,0002098723 ...,260,38,20,20
13,A002,R051,02-00-00,05/29/2017,0,REGULAR,0006196569,0002098745 ...,123,22,0,0
14,A002,R051,02-00-00,05/29/2017,4,REGULAR,0006196587,0002098747 ...,18,2,4,4
15,A002,R051,02-00-00,05/29/2017,8,REGULAR,0006196597,0002098766 ...,10,19,8,8
16,A002,R051,02-00-00,05/29/2017,12,REGULAR,0006196666,0002098845 ...,69,79,12,12
17,A002,R051,02-00-00,05/29/2017,16,REGULAR,0006196853,0002098891 ...,187,46,16,16
18,A002,R051,02-00-00,05/29/2017,20,REGULAR,0006197107,0002098922 ...,254,31,20,20
19,A002,R051,02-00-00,05/30/2017,0,REGULAR,0006197230,0002098946 ...,123,24,0,0
20,A002,R051,02-00-00,05/30/2017,4,REGULAR,0006197238,0002098949 ...,8,3,4,4
21,A002,R051,02-00-00,05/30/2017,8,REGULAR,0006197288,0002099066 ...,50,117,8,8
22,A002,R051,02-00-00,05/30/2017,12,REGULAR,0006197470,0002099345 ...,182,279,12,12
23,A002,R051,02-00-00,05/30/2017,16,REGULAR,0006197790,0002099442 ...,320,97,16,16
24,A002,R051,02-00-00,05/30/2017,20,REGULAR,0006198624,0002099521 ...,834,79,20,20
25,A002,R051,02-00-00,05/31/2017,0,REGULAR,0006198819,0002099552 ...,195,31,0,0
26,A002,R051,02-00-00,05/31/2017,4,REGULAR,0006198834,0002099555 ...,15,3,4,4
27,A002,R051,02-00-00,05/31/2017,8,REGULAR,0006198880,0002099671 ...,46,116,8,8
28,A002,R051,02-00-00,05/31/2017,12,REGULAR,0006199053,0002099950 ...,173,279,12,12
29,A002,R051,02-00-00,05/31/2017,16,REGULAR,0006199379,0002100021 ...,326,71,16,16
30,A002,R051,02-00-00,05/31/2017,20,REGULAR,0006200200,0002100072 ...,821,51,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...
788188,TRAM2,R469,00-05-01,06/19/2017,1,REGULAR,5554,301,0,0,1,1
788189,TRAM2,R469,00-05-01,06/19/2017,5,REGULAR,5554,301,0,0,5,5
788190,TRAM2,R469,00-05-01,06/19/2017,9,REGULAR,5554,301,0,0,9,9
788191,TRAM2,R469,00-05-01,06/19/2017,13,REGULAR,5554,301,0,0,13,13
788192,TRAM2,R469,00-05-01,06/19/2017,17,REGULAR,5554,301,0,0,17,17
788193,TRAM2,R469,00-05-01,06/19/2017,21,REGULAR,5554,301,0,0,21,21
788194,TRAM2,R469,00-05-01,06/20/2017,1,REGULAR,5554,301,0,0,1,1
788195,TRAM2,R469,00-05-01,06/20/2017,5,REGULAR,5554,301,0,0,5,5
788196,TRAM2,R469,00-05-01,06/20/2017,9,REGULAR,5554,301,0,0,9,9
788197,TRAM2,R469,00-05-01,06/20/2017,13,REGULAR,5554,301,0,0,13,13
788198,TRAM2,R469,00-05-01,06/20/2017,17,REGULAR,5554,301,0,0,17,17
788199,TRAM2,R469,00-05-01,06/20/2017,21,REGULAR,5554,301,0,0,21,21
788200,TRAM2,R469,00-05-01,06/21/2017,1,REGULAR,5554,301,0,0,1,1
788201,TRAM2,R469,00-05-01,06/21/2017,5,REGULAR,5554,301,0,0,5,5
788202,TRAM2,R469,00-05-01,06/21/2017,9,REGULAR,5554,301,0,0,9,9
788203,TRAM2,R469,00-05-01,06/21/2017,13,REGULAR,5554,301,0,0,13,13
788204,TRAM2,R469,00-05-01,06/21/2017,17,REGULAR,5554,301,0,0,17,17
788205,TRAM2,R469,00-05-01,06/21/2017,21,REGULAR,5554,301,0,0,21,21
788206,TRAM2,R469,00-05-01,06/22/2017,1,REGULAR,5554,301,0,0,1,1
788207,TRAM2,R469,00-05-01,06/22/2017,5,REGULAR,5554,301,0,0,5,5
788208,TRAM2,R469,00-05-01,06/22/2017,9,REGULAR,5554,301,0,0,9,9
788209,TRAM2,R469,00-05-01,06/22/2017,13,REGULAR,5554,301,0,0,13,13
788210,TRAM2,R469,00-05-01,06/22/2017,17,REGULAR,5554,301,0,0,17,17
788211,TRAM2,R469,00-05-01,06/22/2017,21,REGULAR,5554,301,0,0,21,21
788212,TRAM2,R469,00-05-01,06/23/2017,1,REGULAR,5554,301,0,0,1,1
788213,TRAM2,R469,00-05-01,06/23/2017,5,REGULAR,5554,301,0,0,5,5
788214,TRAM2,R469,00-05-01,06/23/2017,9,REGULAR,5554,301,0,0,9,9
788215,TRAM2,R469,00-05-01,06/23/2017,13,REGULAR,5554,301,0,0,13,13
788216,TRAM2,R469,00-05-01,06/23/2017,17,REGULAR,5554,301,0,0,17,17
788217,TRAM2,R469,00-05-01,06/23/2017,21,REGULAR,5554,301,0,0,21,21

## Exercicio 2 - Análise dos dados

### *Exercicio 2.1*

Para verificar a relação entre o movimento do metrô e o clima, precisaremos complementar os dados do arquivo já baixado com os dados do clima.
Nós complementamos para você este arquivo com os dados de clima de Nova Iorque  e disponibilizamos na área de materiais do projeto. Você pode acessa-lo pelo link: https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Agora que temos nossos dados em um arquivo csv, escreva um código python que leia este arquivo e salve-o em um data frame do pandas. 

Dica: 

Utilize o comando abaixo para ler o arquivo:

```python
pd.read_csv('output_list.txt', sep=",")
```

In [48]:
# Eu sei que o arquivo vem baixado com o projeto, mas eu queria testar os recursos de download

url = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv'

filename = "turnstile_data_master_with_weather.csv"
urlretrieve(url, filename)

print('Baixado: ', filename)

df_tempo = pd.read_csv(filename)

Baixado:  turnstile_data_master_with_weather.csv

In [49]:
df_tempo.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

### *Exercicio 2.2*

Agora crie uma função que calcule a quantidade de dias chuvosos, para isso retorne a contagem do numero de dias onde a coluna *"rain"* é igual a 1.

Dica: Você também pode achar que a interpretação de números como números inteiros ou float pode não
     funcionar inicialmente. Para contornar esta questão, pode ser útil converter
     esses números para números inteiros. Isso pode ser feito escrevendo cast (coluna como inteiro).
     Então, por exemplo, se queríamos lançar a coluna maxtempi como um número inteiro, nós devemos
     escrever algo como cast (maxtempi as integer) = 76, em oposição a simplesmente
     onde maxtempi = 76.

In [50]:

def num_rainy_days(df):
    # groupby é importante para a leitura dos dados por conta das entradas de dados serem determinadas por horário e não por dias
    dias_chuva = len(df[df['rain'] == 1.0].groupby('DATEn'))

    return dias_chuva

print ("Dias com chuva:", num_rainy_days(df_tempo))

Dias com chuva: 10

### *Exercicio 2.3*

Calcule se estava nebuloso ou não (0 ou 1) e a temperatura máxima para fog (isto é, a temperatura máxima 
     para dias nebulosos).

In [51]:

def max_temp_aggregate_by_fog(df):
    dias_sem_nevoa = len(df[df['fog'] == 0.0].groupby('DATEn'))
    dias_com_nevoa = len(df[df['fog'] == 1.0].groupby('DATEn'))
    
    print('Dias sem névoa:', dias_sem_nevoa)
    print('Dias com névoa:', dias_com_nevoa)
    
    max_temp_nevoa = df[df['fog'] == 1.0]['maxtempi'].max()
    
    return max_temp_nevoa


print("Temperatura máxima em dias com névoa:", max_temp_aggregate_by_fog(df_tempo), "ºF")

Dias sem névoa: 25
Dias com névoa: 5
Temperatura máxima em dias com névoa: 81.0 ºF

### *Exercicio 2.4

Calcule agora a média de 'meantempi' nos dias que são sábado ou domingo (finais de semana):

In [ ]:
def avg_weekend_temperature(filename):
  
   
    mean_temp_weekends = 
    
    return mean_temp_weekends

### *Exercicio 2.5

Calcule a média da temperatura mínima 'mintempi' nos dias chuvosos onde da temperatura mínima foi maior que do 55 graus:

In [ ]:
def avg_min_temperature(filename):

    avg_min_temp_rainy = 
    
    return avg_min_temp_rainy

### *Exercicio 2.6

Antes de realizar qualquer análise, pode ser útil olhar para os dados que esperamos analisar. Mais especificamente, vamos examinR as entradas por hora em nossos dados do metrô de Nova York para determinar a distribuição dos dados. Estes dados são armazenados na coluna ['ENTRIESn_hourly'].
    
Trace dois histogramas nos mesmos eixos para mostrar as entradas quando esta chovendo vs quando não está chovendo. 
Abaixo está um exemplo sobre como traçar histogramas com pandas e matplotlib:
     
```python
Turnstile_weather ['column_to_graph']. Hist ()
```

In [ ]:
import numpy as np
import pandas
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
    
    
    
    plt.figure()
    turnstile_weather['...'] # your code here to plot a historgram for hourly entries when it is raining
    turnstile_weather['...'] # your code here to plot a histogram for hourly entries when it is not raining
    return plt

### *Exercicio 2.7

Os dados que acabou de plotar que tipo de ditribuição? Existe diferença na distribuição entre dias chuvosos e não chuvosos?

** Resposta **: Substitua este texto pela sua resposta!

### *Exercicio 2.8

Construa uma função que que retorne:

1. A média das entradas com chuva
2. A média das entradas sem chuva

In [ ]:
import numpy as np

import pandas

def means(turnstile_weather):
    
    
    ### YOUR CODE HERE ###
    
    return with_rain_mean, without_rain_mean, p # leave this line for the grader

Responda as perguntas abaixo de acordo com a saida das suas funções:

1. Qual a média das entradas com chuva?
2. Qual a média das entradas sem chuva?

** Resposta **: Substitua este texto pela sua resposta!

## Exercicio 3 - Map Reduce

### *Exercicio 3.1*

A entrada para esse exercício e o mesmo arquivo da seção anterior (Exercicio 2). Você pode baixar o arquivo neste link:

 https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Varmos criar um mapeador agora. Para cada linha de entrada, a saída do mapeador deve IMPRIMIR (não retornar) a UNIT como uma chave e o número de ENTRIESn_hourly como o valor. Separe a chave e o valor por uma guia. Por exemplo: 'R002 \ t105105.0'

Exporte seu mapeador em um arquivo chamado mapper_result.txt e envie esse arquivo juntamente com a sua submissão. O código para exportar seu mapeador já está escrito no código abaixo.

In [ ]:
import sys

def mapper():
    

    for line in sys.stdin:
        # your code here


mapper()
sys.stdin = open('turnstile_data_master_with_weather.csv')
sys.stdout = open('mapper_result.txt', 'w')

### *Exercicio 3.2*

Agora crie o redutor. Dado o resultado do mapeador do exercicio anterior, o redutor deve imprimir(Não retornar) uma linha por UNIT, juntamente com o número total de ENTRIESn_hourly.Ao longo de maio (que é a duração dos nossos dados), separados por uma guia. Um exemplo de linha de saída do redutor pode ser assim: 'R001 \ t500625.0'

Você pode assumir que a entrada para o redutor está ordenada de tal forma que todas as linhas correspondentes a uma unidade particular são agrupados. No entanto a saida do redutor terá repetição pois existem lojas que aparecem em locais diferentes dos arquivos.

Exporte seu redutor em um arquivo chamado reducer_result.txt e envie esse arquivo juntamente com a sua submissão.

In [ ]:
def reducer():
    

    for line in sys.stdin:
        # your code here

        
reducer()